body {
  color: #00293a;
  //     margin: 20px 0;
}

h1,
.h1 {
  font-size: 64px;
  line-height: 70px;
  font-weight: 700;
}

h2,
.h2 {
  font-size: 48px;
  line-height: 48px;
  font-weight: 700;
}

h3,
.h3 {
  font-size: 36px;
  line-height: 45px;
  font-weight: 700;
}

h4,
.h4 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

h5,
.h5 {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

h6,
.h6 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
}

.p1 {
  font-size: 21px;
  line-height: 31px;
  font-weight: 500;
}

.p2 {
  font-size: 16px;
  line-height: 24px;
}

.p3 {
  font-size: 12px;
  line-height: 27px;
}

.eyebrow2{
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.eyebrow3{
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.button {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  padding: 15px 24px;
  border-radius: 8px;
  border-width: 2px;
  border-style: solid;
}

b,
strong {
}

p {
}

a {
  color: #4098d3;
  text-decoration: none;
}
