<!--
  templateType: global_partial
  label: Footer
-->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-2">
        <div class="footer__logo">
          <img
            src="https://f.hubspotusercontent10.net/hubfs/9346563/Liquid/footer-logo.svg"
            alt="Logo"
          />
        </div>
        <div class="footer__description">
          <div class="footer__info">2225 E Bayshore Rd #200</div>
          <div class="footer__info">Palo Alto, CA 94303</div>
          <div class="footer__info">+18552547843</div>
        </div>
      </div>
      <div class="col-12 col-md-2">
        <div class="footer__header">Solutions</div>
        <div class="footer__links">
          <a class="footer__link">Enterpirse</a>
          <a class="footer__link">Team</a>
          <a class="footer__link">Individual</a>
          <a class="footer__link">Host</a>
          <a class="footer__link">Scenarios</a>
        </div>
      </div>
      <div class="col-12 col-md-2">
        <div class="footer__header">Products</div>
        <div class="footer__links">
          <a class="footer__link">Marketplace</a>
          <a class="footer__link">Workplace Manager</a>
          <a class="footer__link">Venue Manager</a>
          <a class="footer__link">Connect Intregrations</a>
        </div>
      </div>
      <div class="col-12 col-md-2">
        <div class="footer__header">Resources</div>
        <div class="footer__links">
          <a class="footer__link">Resources Home</a>
          <a class="footer__link">Customer Stories</a>
          <a class="footer__link">Blog</a>
        </div>
      </div>
      <div class="col-12 col-md-2">
        <div class="footer__header">Get Started</div>
        <div class="footer__links">
          <a class="footer__link">Login</a>
          <a class="footer__link">Find Space</a>
          <a class="footer__link">Venue Locations</a>
          <a class="footer__link">Become a Host</a>
          <a class="footer__link">Help</a>
        </div>
      </div>
      <div class="col-12 col-md-2">
        <div class="footer__header">Company</div>
        <div class="footer__links">
          <a class="footer__link">About us</a>
          <a class="footer__link">COVID Updates</a>
          <a class="footer__link">Contact us</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="footer__line"></div>
      </div>
    </div>
    <div class="footer__bottom">
      <div class="row">
        <div class="col-3">
          <div class="footer__copyright">© LiquidSpace, Inc. 2021</div>
        </div>
        <div class="col-6"></div>
        <div class="col-3">
          <div
            class="footer__bottom-links d-flex align-items-center justify-content-end"
          >
            <a class="footer__bottom-link">Terms Of Use</a>
            <a class="footer__bottom-link">Privacy Policy</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
