<!--
  templateType: global_partial
  label: Header Blue
-->
<!--
  templateType: global_partial
  label: Website header
-->
<header class="header-blue">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-8 col-lg-4 col-xl-3">
        <div class="header-blue__logo">
          <img
            src="https://f.hubspotusercontent10.net/hubfs/9346563/Liquid/header-logo-blue.svg"
            alt="Logo"
          />
        </div>
      </div>
      <div class="d-none d-lg-block col-3 col-xl-4">
        <div class="header-blue__navigation">
          <div class="header-blue__link-container">
            <a href="" class="header-blue__link">Topics</a>
            <div class="header-blue__link-menu"></div>
          </div>
          <div class="header-blue__link-container">
            <a href="" class="header-blue__link">Find Space</a>
          </div>
        </div>
      </div>
      <div class="d-none d-lg-block col-1"></div>
      <div class="col-4 col-lg-4">
        <div
          class="header-blue__buttons d-flex align-items-center justify-content-end"
        >
          <a href="" class="header-blue__subscribe button">Subscribe</a>
          <a href="" class="header-blue__get-in-touch button">Get in touch</a>
        </div>
      </div>
    </div>
  </div>
</header>
