.header {
  background-color: #fff;
  padding: 30px 0;
  font-weight: bold;
  z-index: $z-header;

  &__logo {
    margin-bottom: -4px;
  }

  &__link-container {
    position: relative;
    display: inline-block;
    margin-right: 35px;
  }

  &__link {
    font-size: 16px;
    line-height: 25px;
    color: #00293a;

    &::after {
      content: "";
      display: inline-block;
      margin-left: 6px;
      width: 12px;
      height: 9px;
      background-image: url("https://f.hubspotusercontent10.net/hubfs/9346563/Liquid/Icons/dropdown.svg");
      @include transition(transform 0.2s ease("fluid"));
    }

    &:hover::after {
      transform: rotate(180deg);
    }
  }

  &__link-menu {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    width: 382px;
    height: 448px;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #cfd2d4;
    z-index: $z-header;
  }

  &__link:hover + &__link-menu,
  &__link-menu:hover {
    display: block;
  }

  &__search {
    margin-bottom: -4px;
  }

  &__signup {
    margin-left: 28px;
  }

  &__profile {
    margin-left: 28px;
    margin-bottom: -4px;
  }

  &__hamburger {
    width: 18px;
    margin-left: 15px;
    cursor: pointer;

    span {
      display: block;
      height: 2px;
      margin-bottom: 3px;
      border-radius: 15px;
      background-color: #00293a;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
