* {
  box-sizing: border-box !important;
}

html,
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-weight: normal;
  line-height: 1;
  @include box-sizing(border-box);
}

p,h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}

.main {
  margin-top: 175px;
}

.not-padded{
  padding:0;
}


.background-black .newsletter__form {
  .gform_wrapper
    .gfield
    input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]),
  .gform_wrapper .gfield textarea,
  input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]),
  textarea {
    border-color: #818488;
  }
}


